body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
   
}
.visually-hidden {
    visibility: hidden;
}
a {
    text-decoration: none;
}



.button {
font: inherit;
text-transform: uppercase;
text-align: center;
color: #ffffff;
vertical-align: middle;
background-color: #fb565a;
border: none;
font-family: "Roboto Medium", Arial, sans-serif;
line-height: 18px;
padding: 19px 53px;
}
.bg-main {
    background-color:#eeeeee;
}

.button:hover {
 background-color: #e74246;
}
.button:active {
    background-color: #d7373b;
    color: #e37376;
}

.btn-green {
background-color: #00ca74;
}

.btn-green:hover {
    background-color: #00bc6c;
}
.btn-green:active{
    background-color: #00aa62;
    color: #4dc491;
}

.btn-yello {
    background-color: #efc84a;
}
.btn-yello:hover{
    background-color:#eab534; 
}
.btn-yello:active {
    background-color: #e5a722;
    color: #edc265;
}
.site-navigation,
.bascet-navigation,
.nav-list,
.social-button,
.main-slider ul,
.directions ul,
.partners ul  {
    list-style: none
 }


 .site-navigation a,
 .bascet-navigation a {
     list-style: none;
     font-family: "Roboto Medium", Arial, sans-serif;
     font-weight: 700;
     color:#000000;
     line-height: 30px;
     
 }
 .site-navigation a:hover,
 .bascet-navigation a:hover {
     color: #fb565a;
 }
 .text-filds {
     border: 2px solid #fcfdfd;

 }
.contacts {
    background-image: url(/nerds/img/map.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.btn-price {
    color: #000000;
    background-color:#efefef;
}
.btn-price:hover {
    background-color:#dfdfdf;
}
.btn-price:active {
    color: #cccccc;
    background-color:#d5d5d5;
}

header {
    margin-right: 20px;
    margin-left: 20px;
}

main {
    padding: 0;
    margin: 0;
}
.main-nav {
    
    display: flex;
    justify-content: space-between;

}

.main-nav img {
    margin-top: 49px; 
    
}
.site-navigation,
.bascet-navigation {
    display: flex;
    margin-top: 80px;
    font-family: "Roboto Medium";
    font-size: 16px;
    font-weight: 100;
    
}

.site-navigation li {
    margin-right: 44px;
}
.main-slider li{
    display: flex;
    
    overflow: hidden;
    min-height: 413px;
    justify-content: space-between;
    
}

.slider-prew {
    display: flex;
    flex-direction: column;
    
}

.slider-prew h2 {
    display: inline;
    vertical-align: middle;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
}

.directions ul {
    display: flex;
    justify-content: space-around;

}

.directions h3{
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;

}


